<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBh4gIwUQpruvFkY5FjfxpfxvIi_Iq7n5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>480270290959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemyLearn</string>
	<key>PROJECT_ID</key>
	<string>udemy-learn-ricky</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-learn-ricky.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480270290959:ios:2a311ece5086600eafd37a</string>
</dict>
</plist>